{% extends "base.html" %} {% block title %}home{% endblock %}

{% block content %}
<div style="text-align: justify;">
    <B><FONT COLOR="#EE8729"><h1>Herramienta de monitoreo del Inversor PWRCell</h1></FONT>
    <h2>Esta herramienta permite la configuración y el aprovisionamiento de nuevos sistemas Generac PWRcell.</h2>
    <h4>En esta plataforma web de PWRcell podrá monitorear su inversor a tiempo real, use la barra de navegación para buscar los parámetros que desee revisar.</h4>
    <h4> </h4>
    <h4> </h4>
    <h4>Para modificar la configuración de Cumplimiento de servicios públicos, utilice el menú para navegar hasta el inversor que desea configurar y seleccione 'Configuración de cumplimiento de servicios públicos' en el segundo menú. Tenga en cuenta que los cambios de cumplimiento no surtirán efecto a menos que el inversor esté desactivado.</h4>
    <h4> </h4>
    <h4> </h4>
    <h4>Una vez completada la configuración, use la página "Información del propietario" y luego "PDF de cumplimiento" para generar un informe de prueba de cumplimiento.</h4>
    <h4> </h4>
    <h4> </h4>
    <h4> </h4>
    <img src="https://media-exp1.licdn.com/dms/image/C561BAQH4hPY8r67tKQ/company-background_10000/0/1651506131400?e=2147483647&v=beta&t=4yb1a1ng8Pvfq7ZgM-5sbBMiCv-UgVH4z1GFRUW3HdI">
    <h4> </h4>
    <h4> </h4>
</div>
{% endblock %}