{% extends "base.html" %}

{% block content %}
<h1>Invert Status</h1>
<div class="container text-center">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3 border bg-light">System Operating Mode:</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">--</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">External CT Power measurement (W):</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">--</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Total AC Energy Imported (Wh):</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">--</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Total AC Energy Exported (Wh):</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">--</div>
      </div>
    </div>
  </div>
{% endblock %}