{% extends "base.html" %} {% block title %}home{% endblock %}

{% block content %}
<B><FONT COLOR="#EE8729"><h1>Registrate</h1></FONT>
<h2>This tool enables configuration and provisioning of new Generac PWRcell systems.</h2>
<h4> To modify PWRcell settings, Use the menu to navigate to the Inverter you wish to configure and select 'PWRcell Configuration' from the second menu.</h4>
<h4></h4>
<h4>To modify Utility Compliance settings, Use the menu to navigate to the Inverter you wish to configure and select 'Utility Compliance Configuration' from the second menu. Note that compliance changes will not take effect unless the inverter is disabled.</h4>
<h4></h4>
<h4>After configuration is complete, use the 'Owner Information' page and then 'Compliance PDF' to generate a proof of compliance report.</h4>
{% endblock %}